beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
dominate==2.3.5
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
idna==2.8
itsdangerous==1.1.0
jieba==0.39
Jinja2==2.10
MarkupSafe==1.1.0
requests==2.21.0
urllib3==1.24.1
visitor==0.1.3
Werkzeug==0.15.3
